progress[value] {
  width: 300px;
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #fd6391;

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}