* {
  /* background-color: rgb(203 213 225); */
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff5f4;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #FF7272;
  border-radius: 100px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #27242C;
  }
}